{{ if eq .chezmoi.os "darwin" -}}
{{   include "../install/common/claude_plugins.sh" }}
# Re-run when the declared plugins/marketplaces change.
# settings hash: {{ include "dot_claude/settings.json" | sha256sum }}
{{- end }}
