{{ if eq .chezmoi.os "darwin" -}}
{{   include "../install/common/sheldon.sh" }}
# Re-run when the Sheldon plugin manifest changes.
# plugins hash: {{ include "dot_config/sheldon/plugins.toml" | sha256sum }}
{{- end }}
